.delivery {
    margin: 51px 0 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delivery__input {
    width: 780px;
    height: 48px;
    background-image: url("/src/components/Delivery/img/ic_search address.png");
    background-repeat: no-repeat;
    background-position: left 10px center;
    padding-left: 40px;

    border: 2px solid #A1A1A1;
    box-sizing: border-box;
    border-radius: 20px;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #A1A1A1;
}

.delivery__conditions {
    display: flex;
    margin-left: 52px;
    margin-right: 28px;
}

.delivery__item {
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.delivery__item p {
    margin: 0;
}

.delivery__item svg {
    margin-right: 14px;
}

.delivery__bonuses {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.delivery__bonuses--item {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 15px 20px 16px 20px;
    margin-right: 12px;
    box-shadow: -3px -3px 5px #FFFFFF, 3px 3px 10px rgba(0, 0, 0, 0.15);
}

.delivery__bonuses--item img {
    margin-right: 10px;
}

@media (max-width: 1580px) {
    .delivery{
        margin: 35px 0 30px;
    }

    .delivery__search input{
        width: 480px;
        height: 40px;
        font-size: 15px;
    }

    .delivery__conditions{
        margin-left: 20px;
        margin-right: 20px;
    }

    .delivery__bonuses--item{
        min-height: 64px;
    }
}

@media (max-width: 750px){

    .delivery{
        flex-wrap: wrap;
        justify-content: center;
        min-height: 300px;
    }

    .delivery__search input{
        width: 380px;
        height: 30px;
        font-size: 12px;
    }

    .delivery__bonuses--item{
        font-size: 12px;
    }
}
