.footer{
    margin-top: 30px;
    display: flex;
    width: 75%;
}

.footer__first{
    width: 60%;
    margin-right: 15px;

}

.footer__second{
    width: 40%;
    padding-left: 20px;
}

.footer__info {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 21px;
}

.footer__contact{
    display: flex;
}

.footer__logo{
    margin-right: 40px;
}

.footer__contacts{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.footer__address{
    margin-top: 43px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}

.footer__address p {
    margin: 0;
}

.footer__details {
    display: flex;
    align-items: baseline;
}

.details__text{
    margin-top: 28px;
    margin-bottom: 0;
    margin-right: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #000000;

}

.footer__legalAddress{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;

    color: #000000;
}

.footer__company{
    margin-right: 23px;
    font-weight: 600;
    font-size: 14px;
    line-height: 32px;
    color: #A1A1A1;
}